<div ng-controller="StatistikaCtrl">
    <button class="btn btn-primary" ng-click="BrojDjelaPoTipuDjela()">Generiši</button>
    <canvas id="polar-area" class="chart chart-polar-area"
            chart-data="data" chart-labels="labels"></canvas>

</div>
