<div class="jumbotron">
    <h3>Broj djela po datumima za tip djela</h3>    
</div>
<div ng-controller="StatistikaCtrl" ng-init="initTipoviDjela()">
    {{TIPDJELA | translate}} 
    <select style="max-width:100%" class="form-control" ng-model="tipDjelaId" required>
        <option value="{{''}}">Odaberite tip djela</option>
        <option ng-repeat="t in tipoviDjela" value="{{t.ID}}">{{t.Naziv}}</option>
    </select>
    <button ng-disabled="tipDjelaId == ''" class="btn btn-primary" ng-click="BrojDjelaPoDatumimaZaTipDjela()">Generiši</button>    
    <canvas id="polar-area" class="chart chart-line"
            chart-data="data" chart-labels="labels"></canvas>

</div>

