<div class="jumbotron">
    <h3>{{ 'BROJDJELAPOOPŠTINAMAZATIPDJELA' | translate }}</h3>
</div>

<div ng-controller="StatistikaCtrl" ng-init="initTipoviDjela()">
    {{TIPDJELA | translate}} 
    <select style="max-width:100%" class="form-control" ng-model="tipDjelaId" required>
        <option value="{{''}}">{{ 'ODABERITETIPDJELA' | translate }}</option>
        <option ng-repeat="t in tipoviDjela" value="{{t.ID}}">{{t.Naziv}}</option>
    </select>
    <button ng-disabled="tipDjelaId == ''" class="btn btn-primary" ng-click="BrojDjelaPoOpstinamaZaTipDjela()">{{ 'GENERIŠI' | translate}}</button>


    <canvas id="doughnut" class="chart chart-doughnut"
            chart-data="data" chart-labels="labels"></canvas>

</div>
