<div class="jumbotron">
    <h3>{{ 'BROJDJELAPOOPŠTINAMA' | translate }}</h3>
</div>
<div ng-controller="StatistikaCtrl">
    <button class="btn btn-primary" ng-click="BrojDjelaPoOpstinama()">{{GENERIŠI | translate}}</button>    
    <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels"></canvas>

</div>
