<div class="jumbotron">
    <h3>Broj djela po opštinama</h3>
</div>
<div ng-controller="StatistikaCtrl">
    <button class="btn btn-primary" ng-click="BrojDjelaPoOpstinama()">Generiši</button>    
    <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels"></canvas>

</div>
