<div class="jumbotron">
    <h3>{{ 'BROJDJELAPOTIPUDJELA' | translate }}</h3>
</div>
<div ng-controller="StatistikaCtrl">
    <button class="btn btn-primary" ng-click="BrojDjelaPoTipuDjela()">{{'GENERIŠI' | translate}}</button>
    <canvas id="polar-area" class="chart chart-polar-area"
            chart-data="data" chart-labels="labels"></canvas>

</div>
