<div ng-controller="StatistikaCtrl">
    
    <p>{{'DATUM'|translate}}</p> <input ng-model="date" />

    <button class="btn btn-default" ng-click="PoDatumu()">{{'PRIKAŽI'|translate}}</button>

</div>
