<div ng-controller="StatistikaCtrl">
    Tip djela: <input ng-model="tipDjelaId" />
    Opstina <input ng-model="opstina" />
    <button class="btn btn-default" ng-click="PoOpstiniITipuDjela()">Prikaži</button>
</div>