<div ng-controller="StatistikaCtrl">

    <p>{{'OPŠTINA'|translate}}</p> <input ng-model="opstina" />
    <button class="btn btn-default" ng-click="PoOpstini()">{{'PRIKAŽI'|translate}}</button>
</div>