<div ng-controller="StatistikaCtrl">

    <p>{{'TIPDJELA'|translate}}</p> <input ng-model="tipDjelaId" />
    <p>{{'OPŠTINA'|translate}}</p> <input ng-model="opstina" />

    <button class="btn btn-default" ng-click="PoOpstiniITipuDjela()">{{'PRIKAŽI'|translate}}</button>
</div>