<div ng-controller="StatistikaCtrl">
    <p>{{'TIPDJELA'|translate}}</p> <input ng-model="tipDjelaId" />

    <button class="btn btn-default" ng-click="PoTipuDjela()">{{'PRIKAŽI'|translate}}</button>
</div>