<div ng-controller="PoDatumuCtrl">




    <h1>{{message}}</h1>


    <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
    <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
    <p>{{"Pls proradi"}}</p>


</div>


