################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KrimiRad/DataAccess/bin
/KrimiRad/packages
