@using Microsoft.AspNet.Identity



@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            <li>
                <div class="btn-group" uib-dropdown>
                    <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                        {{ 'JEZIK' | translate }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" ng-controller="appctrl" aria-labelledby="single-button">
                        <li><a ng-click="switchLanguage('bs')">Bosanski <span ng-show="selectedLanguage == 'bs'" class="glyphicon glyphicon-ok"></span></a></li>
                        <li><a ng-click="switchLanguage('en')">English <span ng-show="selectedLanguage == 'en'" class="glyphicon glyphicon-ok"></span></a></li>
                    </ul>
                </div>
            </li>

            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
        @*else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            }*@
