@model PublicKrimiRad.Models.PrijavaViewModel

<div class="modal fade" ng-controller="CreatePrijavaCtrl" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalCreatePrijava-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalCreatePrijava-label">Prijava djela</h4>
            </div>
            <div class="modal-body">
                <form name="korisnikForm" ng-submit="dodajPrijavu()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-controller="CreatePrijavaCtrl">
                                Tip djela:
                                <br>
                                <select>
                                    <option ng-repeat="t in tipoviDjela" value="{{t.Id}}">{{t.Naziv}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                Datum:
                                <br> @Html.EditorFor(m => m.Datum, new { ng_model = "prijava.DatumIVrijemePocinjenjaDjela", @class = "form-control", required = "Obavezno polje" })
                            </div>
                            <div class="form-group">
                                Slika:<input type="file" ng-model="prijava.Slika" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                Lokacija:
                                <br>
                                <div ng-controller="MapCtrl" >
                                    <div map-lazy-load="https://maps.google.com/maps/api/js">
                                        <ng-map center="43.849886, 18.355413" zoom="8" style="width:350px; height:400px">
                                        </ng-map>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-offset-3">
                                <input ng-disabled="korisnikForm.$invalid" ng-if="sta=='dodaj'" type="submit" ng-click="dodajPrijavu()" class="btn btn-primary" value="Dodaj" />
                                <input ng-disabled="korisnikForm.$invalid" ng-if="sta=='uredi'" type="submit" ng-click="urediPrijavu()" class="btn btn-primary" value="Uredi" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                <button type="button" class="btn btn-primary">Sačuvaj</button>
            </div>
        </div>
    </div>
</div>
