<div class="modal fade" ng-controller="CreatePrijavaCtrl" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalCreatePrijava-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalCreatePrijava-label">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Ovdje implementirati formu za unos prijave</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
