<div class="btn-group-lg btn-group-justified">
    <a href="administracija/tipovidjela" class="btn btn-primary">Tipovi djela</a>
    <a href="administracija/korisnici" class="btn btn-primary">Korisnici</a>
</div>

