<div class="btn-group-lg btn-group-justified">
    <a href="administracija/tipovidjela" class="btn btn-primary">{{ 'TIPOVIDJELA' | translate }}</a>
    <a href="administracija/korisnici" class="btn btn-primary">{{ 'KORISNICI' | translate }}</a>
</div>

