
<div class="row" ng-controller="PrijavaDetalji">
    <div ng-show="poruka !== ''" class="alert alert-warning alert-dismissable">
        <button type="button" class="close" ng-click="sakrijAlert()" aria-hidden="true">X</button>
        <p>{{ poruka }}</p>
    </div>
    <div class="col-md-6 col-lg-5">
        <p class="naslov">{{'PRIJAVADJELA' |translate}}:</p>
        <dl class="dl-horizontal prijava">

            <dt>
                {{'TIPDJELA' | translate}}
            </dt>
            <dd>
                {{prijava.TipDjelaNaziv}}
            </dd>
            <dt>
                {{'DATUMIVRIJEMEPRIJAVE' | translate}}
            </dt>
            <dd>
                {{prijava.DatumIVrijemePrijave}}
            </dd>
            <dt>
                {{'DATUMIVRIJEMEPOCINJENJA' | translate}}
            </dt>
            <dd>
                {{prijava.DatumIVrijemePocinjenjaDjela}}
            </dd>
            <dt>
                {{'OPCINA' |translate}}
            </dt>
            <dd>
                {{ prijava.Opstina}}
            </dd>
            <dt>
                {{'ADRESA' |translate}}
            </dt>
            <dd>
                {{prijava.Adresa}}
            </dd>
            <dt>
                {{'RIJESEN' |translate}}
            </dt>
            <dd ng-if="prijava.Rijesen">
                {{ 'DA' | translate  }}
            </dd>
            <dd ng-if="!prijava.Rijesen">
                {{'NE' | translate}}
            </dd>
            <dt>
                {{'KOMENTAR' |translate}}
            </dt>
            <dd>
                {{prijava.Komentar}}
            </dd>
        </dl>
        <button class="btn btn-primary" ng-if="!prijava.Rijesen" ng-click="rijesi()">{{ 'RIJESI' | translate }}</button>
    </div>
    
    <div class="col-md-6 col-lg-7">
        <div map-lazy-load="https://maps.google.com/maps/api/js">
            <ng-map center="[{{prijava.Latituda}} , {{prijava.Longituda}}]" zoom="14">
                <marker position="[{{prijava.Latituda}} , {{prijava.Longituda}}]" title="{{prijava.Adresa}}"></marker>
            </ng-map>
        </div>
    </div>
</div>
<div class="container">
    <br />  

    <div style="height: 500px">
        <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="p in prijava.Medij" index="$index">
                <img ng-if="p.TipMedija == 1 || p.TipMedija == 0" ng-src="{{p.Url}}" style="margin:auto;">
                <embed style="height:500px; width:600px;" ng-if="p.TipMedija == 2" src="{{p.Url}}"/>
                @*<video ng-if="p.TipMedija == 2" width="320" height="240" controls="controls">
                    <source ng-src="{{p.Url}}" type="video/mp4" />                               
                    <source ng-src="{{p.Url}}" type="video/ogg" />
                    <source ng-src="{{p.Url}}" type="video/webm" />
                </video>*@                
            </uib-slide>
        </uib-carousel>
    </div>

</div>
