
<div class="row" ng-controller="PrijavaDetalji">
    <div ng-show="poruka !== ''" class="alert alert-warning alert-dismissable">
        <button type="button" class="close" ng-click="sakrijAlert()" aria-hidden="true">X</button>
        <p>{{ poruka }}</p>
    </div>
    <div class="col-md-6 col-lg-5">
        <p class="naslov">{{'PRIJAVADJELA' |translate}}:</p>
        <dl class="dl-horizontal prijava">

            <dt>
                {{'TIPDJELA' | translate}}
            </dt>
            <dd>
                {{prijava.TipDjelaNaziv}}
            </dd>
            <dt>
                {{'DATUMIVRIJEMEPRIJAVE' | translate}}
            </dt>
            <dd>
                {{prijava.DatumIVrijemePrijave}}
            </dd>
            <dt>
                {{'DATUMIVRIJEMEPOCINJENJA' | translate}}
            </dt>
            <dd>
                {{prijava.DatumIVrijemePocinjenjaDjela}}
            </dd>
            <dt>
                {{'OPCINA' |translate}}
            </dt>
            <dd>
                {{ prijava.Opstina}}
            </dd>
            <dt>
                {{'ADRESA' |translate}}
            </dt>
            <dd>
                {{prijava.Adresa}}
            </dd>
            <dt>
                {{'RIJESEN' |translate}}
            </dt>
            <dd ng-if="prijava.Rijesen">
                {{ 'DA' | translate  }}
            </dd>
            <dd ng-if="!prijava.Rijesen">
                {{'NE' | translate}}
            </dd>
            <dt>
                {{'KOMENTAR' |translate}}
            </dt>
            <dd>
                {{prijava.Komentar}}
            </dd>
        </dl>
        <button class="btn btn-primary" ng-if="!prijava.Rijesen" ng-click="rijesi()">{{ 'RIJESI' | translate }}</button>
        <button class="btn btn-danger" ng-click="obrisi()">{{ 'OBRIŠI' | translate }}</button>
    </div>
    
    <div class="col-md-6 col-lg-7">
        <div map-lazy-load="https://maps.google.com/maps/api/js">
            <ng-map center="[{{prijava.Latituda}} , {{prijava.Longituda}}]" zoom="14">
                <marker position="[{{prijava.Latituda}} , {{prijava.Longituda}}]" title="{{prijava.Adresa}}"></marker>
            </ng-map>
        </div>
    </div>

</div>
<div class="container">
    <br />  
   
    <div ng-if="prijava.Medij" class="panel panel-default">
        <div class="panel-heading">Slike</div>
        <div class="panel-body">
            <div style="height: 500px">
                <uib-carousel ng-if="prijava.Medij" active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <uib-slide ng-if="p.TipMedija == 1 || p.TipMedija == 0" ng-repeat="p in prijava.Medij" index="$index">
                        <img ng-src="{{p.Url}}" style="margin:auto;">                                               
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
    </div>

    <div ng-if="prijava.Medij" class="panel panel-default">
        <div class="panel-heading">Video</div>
        <div class="panel-body">            
            <div class="row" ng-if="p.TipMedija == 2" ng-repeat="p in prijava.Medij">                
                <object width="420" height="315" data="{{p.Url}}" style="height:500px; width:100%;">                     
                </object> 
                
                @*<video width="576" height="320" controls>
                    <source src="{{p.Url}}" type='video/mp4; codecs="avc1.42e01e, mp4a.40.2"'>                    
                </video>*@                                   
            </div>
        </div>
    </div>
    

</div>
