<div ng-controller="StatistikaCtrl">
    <div class="btn-group-lg btn-group-justified">
        <a href="/statistika/PoTipuIOpstini" class="btn btn-primary">Po opcini i tipu djela</a>
        <a href="statistika/PoOpstini" class="btn btn-primary">Po opcini</a>
        <a href="statistika/PoTipuDjela" class="btn btn-primary">Po tipu djela</a>
        <a href="statistika/PoDatumu" class="btn btn-primary">Po datumu</a>
        
    </div>
   
</div>
