<div class="panel panel-default">
    <div class="panel-heading">{{"STATISTIKA" | translate}}</div>
    <div class="panel-body">
        <div class="row">
            <a style="margin:5px;" href="/statistika/BrojDjelaPoOpstinama"  class="btn btn-primary">{{ 'BROJDJELAPOOPŠTINAMA' | translate }}</a>
            <a style="margin:5px;" href="/statistika/BrojDjelaPoDatumu" class="btn btn-primary">{{ 'BROJDJELAPODATUMIMA' | translate }}</a>
            <a style="margin:5px;" href="/statistika/BrojDjelaPoTipuDjela" class="btn btn-primary">{{ 'BROJDJELAPOTIPUDJELA' | translate }}</a>
            <a style="margin:5px;" href="/statistika/PrijavePoTipovimaZaOpstinu" class="btn btn-primary">{{ 'PRIJAVEPOTIPOVIMAZAOPŠTINU' | translate }}</a>
            <a style="margin:5px;" href="/statistika/OmjerRjesenihUPeriodu" class="btn btn-primary">{{ 'OMJERRJEŠENINERJEŠENIUPERIODU' | translate }}</a>
            <a style="margin:5px;" href="/statistika/BrojDjelaPoOpstinamaZaTipDjela" class="btn btn-primary">{{ 'BROJDJELAPOOPŠTINAMAZATIPDJELA' | translate }}</a>
            <a style="margin:5px;" href="/statistika/BrojDjelaPoDatumimaZaTipDjela" class="btn btn-primary">{{ 'BROJDJELAPODATUMIMAZATIPDJELA' | translate }}</a>
            <a style="margin:5px;" href="/statistika/OmjerRjesenihPoTipuUPeriodu" class="btn btn-primary">{{ 'OMJERRJEŠENINERJEŠENIPOTIPUUPERIODU' | translate }}</a>
        </div>   
    </div>
</div>
    


    