<div class="panel panel-default">
    <div class="panel-heading">{{"STATISTIKA" | translate}}</div>
    <div class="panel-body">
        <div class="row">
            <a style="margin:5px;" href="/statistika/BrojDjelaPoOpstinama"  class="btn btn-primary">Broj djela po opštinama</a>
            <a style="margin:5px;" href="/statistika/BrojDjelaPoDatumu" class="btn btn-primary">Broj djela po datumima</a>
            <a style="margin:5px;" href="/statistika/BrojDjelaPoTipuDjela" class="btn btn-primary">Broj djela po tipu djela</a>
            <a style="margin:5px;" href="/statistika/PrijavePoTipovimaZaOpstinu" class="btn btn-primary">Prijave po tipovima za opštinu</a>
            <a style="margin:5px;" href="/statistika/OmjerRjesenihUPeriodu" class="btn btn-primary">Omjer rješeni/nerješeni u periodu</a>
            <a style="margin:5px;" href="/statistika/BrojDjelaPoOpstinamaZaTipDjela" class="btn btn-primary">Broj djela po opštinama za tip djela</a>
            <a style="margin:5px;" href="/statistika/BrojDjelaPoDatumimaZaTipDjela" class="btn btn-primary">Broj djela po datumima za tip djela</a>
            <a style="margin:5px;" href="/statistika/OmjerRjesenihPoTipuUPeriodu" class="btn btn-primary">Omjer rješeni/nerješeni po tipu u periodu</a>
        </div>   
    </div>
</div>
    


    