<div class="modal fade" id="prijaveModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModal-label">{{'PRIJAVA' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <dl class="dl-horizontal">
                            <dt>
                                {{'DATUMIVRIJEMEPRIJAVE' | translate}}
                            </dt>

                            <dd>
                                {{prijava.DatumIVrijemePrijave}}

                            </dd>

                            <dt>
                                {{'DATUMIVRIJEMEPOCINJENJA' | translate}}
                            </dt>

                            <dd>
                                {{prijava.DatumIVrijemePocinjenjaDjela}}
                            </dd>

                            <dt>
                                {{'OPCINA' |translate}}
                            </dt>

                            <dd>
                                {{ prijava.Opstina}}
                            </dd>

                            <dt>
                                {{'ADRESA' |translate}}
                            </dt>

                            <dd>
                                {{prijava.Adresa}}
                            </dd>

                        </dl>
                    </div>
                    <div class="col-md-5">
                        <div map-lazy-load="https://maps.google.com/maps/api/js">
                            <ng-map center="[{{prijava.Latituda}} , {{prijava.Longituda}}]" zoom="14">
                                <marker position="[{{prijava.Latituda}} , {{prijava.Longituda}}]" title="{{prijava.Adresa}}"></marker>
                            </ng-map>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-offset-3">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Izađi</button>
                </div>
            </div>
        </div>
    </div>
</div>