<html ng-app="KrimiRad.PregledPrijava">
<div class="modal fade" id="prijaveModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModal-label">{{'PRIJAVA' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            {{'DATUMIVRIJEMEPRIJAVE' | translate}}
                        </dt>

                        <dd>
                            {{prijava.DatumIVrijemePrijave}}

                        </dd>

                        <dt>
                            {{'DATUMIVRIJEMEPOCINJENJA' | translate}}
                        </dt>

                        <dd>
                            {{prijava.DatumIVrijemePocinjenjaDjela}}
                        </dd>

                        <dt>
                            {{'OPCINA' |translate}}
                        </dt>

                        <dd>
                            {{prijava.Opstina}}
                        </dd>

                        <dt>
                            {{'ADRESA' |translate}}
                        </dt>

                        <dd>
                            {{prijava.Adresa}}
                        </dd>

                    </dl>
                    @*<p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>*@
                    <div class="form-group col-md-offset-3">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Izađi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
