
<div ng-show="formaZaUnos == true" class="panel panel-default">
    
    <div ng-if="sta=='dodaj'" class="panel-heading">Dodavanje korisnika</div>
    <div ng-if="sta=='uredi'" class="panel-heading">Uređivanje korisnika</div>    

    <div class="panel-body">       
        <form name="tipDjelaForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        Naziv<input type="text" ng-model="tipDjela.Naziv" class="form-control" required />
                    </div>

                    <div class="form-group">
                        Stručni naziv <input type="text" ng-model="tipDjela.StrucniNaziv" class="form-control" required />
                    </div>

                    <div class="form-group">
                        Vrsta djela <input type="text" ng-model="tipDjela.VrstaDjela" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <input ng-disabled="tipDjelaForm.$invalid" ng-if="sta=='dodaj'" type="submit" ng-click="dodajTipDjela()" class="btn btn-primary" value="Dodaj" />
                        <input ng-disabled="tipDjelaForm.$invalid" ng-if="sta=='uredi'" type="submit" ng-click="urediTipDjela()" class="btn btn-primary" value="Uredi" />                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        Opis djela <textarea style="height:300px;" ng-model="tipDjela.Opis" class="form-control" required></textarea>                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
