
<div ng-controller="KorisnikCtrl">

    <a ng-click="prikaziFormuZaCreate()" class="btn btn-primary">Dodaj novi</a>
    <button type="button" ng-show="formaZaUnos == true" class="btn btn-info" ng-click="formaZaUnos = false;" data-dismiss="modal">Izađi</button>


    <div ng-show="poruka !== ''" class="alert alert-warning alert-dismissable">
        <button type="button" class="close" ng-click="sakrijAlert()" aria-hidden="true">×</button>
        <p>{{ poruka }}</p>
    </div>
    
    @Html.Partial("~/Areas/Administracija/Views/Korisnik/_CreateEdit.cshtml")
    <table class="table">
        <tr>
            <th>
                Ime i prezime
            </th>
            <th>
                Korisničko ime
            </th>
            <th>
                E-mail
            </th>
            <th>
                Tip korisnika
            </th>
            <th></th>
        </tr>

        <tr ng-repeat="k in korisnici">
            <td>
                {{ k.ImeIPrezime }}
            </td>
            <td>
                {{ k.Username }}
            </td>
            <td>
                {{ k.Email }}
            </td>
            <td>
                {{ k.TipKorisnika }}
            </td>
            <td>
                <button class="btn btn-success" ng-click="prikaziFormuZaEdit(k)">Uredi</button> |
                <button class="btn btn-danger" ng-click="obrisiKorisnika(k)">Obriši</button>
            </td>
        </tr>
        }

    </table>


    
</div>

