
<div ng-controller="KorisnikCtrl">

    <a ng-click="prikaziFormuZaCreate()" class="btn btn-primary">{{ 'DODAJNOVI' | translate }}</a>
    <button type="button" ng-show="formaZaUnos == true" class="btn btn-info" ng-click="formaZaUnos = false;" >{{ 'IZAĐI' | translate }}</button>


    <div ng-show="poruka !== ''" class="alert alert-warning alert-dismissable">
        <button type="button" class="close" ng-click="sakrijAlert()" aria-hidden="true">×</button>
        <p>{{ poruka }}</p>
    </div>
    
    @Html.Partial("~/Areas/Administracija/Views/Korisnik/_CreateEdit.cshtml")
    <table class="table">
        <tr>
            <th>
               {{ 'IMEIPREZIME' | translate }}
            </th>
            <th>
                {{ 'KORISNIČKOIME' | translate }}
            </th>
            <th>
               {{ 'EMAIL' | translate }}
            </th>
            <th>
                {{ 'TIPKORISNIKA' | translate }}
            </th>
            <th></th>
        </tr>

        <tr ng-repeat="k in korisnici">
            <td>
                {{ k.ImeIPrezime }}
            </td>
            <td>
                {{ k.Username }}
            </td>
            <td>
                {{ k.Email }}
            </td>
            <td>
                {{ k.TipKorisnika }}
            </td>
            <td>
                <button class="btn btn-success" ng-click="prikaziFormuZaEdit(k)">{{ 'UREDI' | translate }}</button> |
                <button class="btn btn-danger" ng-click="obrisiKorisnika(k)">{{ 'OBRIŠI' | translate }}</button>
            </td>
        </tr>

    </table>    
    <uib-pagination items-per-page="7" previous-text="&lsaquo;" next-text="&rsaquo;" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
    
</div>

